*{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}

:root{
    --width-logo: 200px;
    --primary-button-background: #e78925
}

.contenedorTextoPequenyo{
    width: calc(100% - 200px);
    height: 300px;
    overflow: auto;
    overflow-x: scroll;
    float: right;
}

