*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 50px;
    background-color: #484848;
    
}

header nav ul li{
    list-style-type: none;
    float: left;
}

header nav li a{
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

main{
    clear: both;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
}






footer{
    width: 100%;
    padding: 20px;
    background-color: #484848;
    clear: both;
}
footer p{
    color: #fff;
    text-align: center;
}